@import-normalize;
/* bring in normalize.css styles */

:root {
  --black: #111111;
  --letter-black: #171820;
  --letter-gray: #343434;
  --white: #ffffff;
  --dark-gray: #13151a;
  --gray: #21222c;
  --input-gray: rgba(17, 17, 17, 0.15);
  --orange: #ffac33;
  --main-blue: #3e85f3;
  --hover-blue: #2b78ef;
  --backdrop-blue: #dcebf7;
  --blue: #cae8ff;
  --light-blue: #e3f3ff;
  --correct-color: #3cbc81;
  --error-color: #da1414;
  --pink-gradient: linear-gradient(#ffffff, #ffd2dd);
  --gradient-pink: #ffd2dd;
  --blue--gradient: linear-gradient(#ffffff, #3e85f3);
  --gradient-blue: #3e85f3;
  --low-color: #72c2f8;
  --medium-color: #f3b249;
  --high: #ea3d65;
}
